* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background: rgb(198, 161, 209);
  background: linear-gradient(
    77deg,
    rgba(198, 161, 209, 1) 0%,
    rgba(108, 47, 147, 1) 57%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #292e37;

  border-color: white;
  border-radius: 10px;
  border-style: groove;
  padding: 5px;
}

.calculator form input {
  width: 60px;
  height: 60px;

  color: rgb(255, 255, 255);
  background-color: #2f3747;
  flex-wrap: wrap;
  cursor: pointer;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}
.display input {
  text-align: right;
  flex: 1;
  font-size: 30px;
  border: none;
}
form input.equal {
  width: 125px;
}
